NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Site Branding
NEXT_PUBLIC_SITE_NAME=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_ORG_ID=

VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_AUTO_REPLY_TEMPLATE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_SERVICE_ID=